/* General */

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.fas,
.far,
.fab {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

i,
a,
img,
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* For mobile screen */

@media screen and (max-width: 768px) {
  /* Header */
  header {
    background-color: #e76f51;
    height: 120px;
  }

  /* Nav section */
  nav {
    justify-content: space-around;
    align-content: center;
    height: 100%;
    width: 75%;
    margin: 0 auto;
  }

  .header-logo {
    justify-content: center;
  }

  .header-logo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }

  .header-logo-img:hover {
    transform: rotate(360deg) scale(1.3);
  }

  .header-ul {
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
  }

  .header-links strong {
    display: none;
  }

  .header-links-text {
    font-size: 15px;
  }

  .header-ul > li > i {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .header-ul > li > i:hover {
    transform: scale(1.5);
    transition-duration: 1s;
    color: #264653;
  }

  /* Start on filter section */

  .filter-section {
    width: 100%;
    margin: 60px 0;
    padding: 20px;
    height: 450px;
    background-color: #edf0f1;
    border-radius: 5px;
  }

  .small-form-filter {
    width: 90%;
    height: 35%;
    margin: 5px auto;
    justify-content: center;
    align-content: center;
  }

  .filter-section-title {
    font-size: 30px;
    text-align: center;
    color: #aaa5a2;
    margin: 20px auto;
  }

  .filter-section label {
    color: #7b7b7e;
    font-size: 18px;
    font-weight: bold;
  }

  .filter-section input {
    height: 30px;
    outline: none;
    border: none;
    padding: 0 10px;
    width: 95%;
  }

  select {
    width: 95%;
    height: 30px;
    outline: none;
    border: none;
    color: #679ac2;
  }

  .btn-filter {
    width: 50%;
    height: 30px;
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  .btn-filter-search {
    background-color: #457eb4;
  }

  .btn-filter-clear {
    background-color: #e5ab5a;
  }

  /*  Start on search results cards */

  .search-results {
    height: 1000px;
  }

  .result-card {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .result-card:hover {
    transform: scale(1.21);
    transition-duration: 1.5s;
    background-color: #f3b5a6;
    border-radius: 5px;
  }

  .clinic-link {
    color: #264653;
    background-color: #e9c46a;
    padding: 5px;
    display: none;
    text-align: center;
  }

  .result-card:hover > .clinic-link {
    display: block;
  }

  .result-card-img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .result-card-text {
    text-align: center;
    padding: 10px 20px;
    color: #264653;
  }

  /* Footer section */

  .first-footer {
    background-color: black;
    height: 550px;
  }

  /* main link part */

  .footer-main-links {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 20px 5px;
    padding: 20px 5px;
  }

  .ul-first-footer {
    justify-content: center;
  }

  .ul-first-footer > li a {
    margin: 5px;
    font-size: 15px;
  }

  .footer-location-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    align-self: center;
    margin: 10px 0;
  }

  .fa-map-marker-alt {
    font-size: 30px;
    margin-top: 10px;
  }

  /* main info section */

  .footer-main-info-card {
    height: 100px;
    align-self: center;
    text-align: center;
  }

  .footer-main-info-input {
    outline: none;
    width: 70%;
    height: 30px;
    padding-left: 5px;
    background-color: black;
    border: 1px solid #444;
    border-right: none;
  }

  .footer-main-info-title {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px auto;
  }

  .footer-main-info-button {
    width: 25%;
    height: 30px;
    background-color: #444;
    outline: none;
    border: none;
    color: white;
  }

  .footer-main-info-text {
    width: 60%;
    margin: 5px auto;
    color: rgba(255, 255, 255, 0.705);
    font-size: 16px;
  }

  /* second footer */

  .second-footer {
    background-color: #333;
    height: 100px;
    justify-content: space-around;
  }

  .footer-social-icons {
    width: 60%;
    margin: 10px auto;
    justify-content: space-around;
  }

  .footer-rights {
    color: white;
    font-size: 12px;
    text-align: center;
  }
}

/* For Tablet screen */

@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* Header */
  header {
    background-color: #e76f51;
    height: 80px;
  }

  /* Nav section */

  .nav-large-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav {
    justify-content: space-between;
    align-content: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }

  .header-logo {
    justify-content: center;
  }

  .header-logo-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }

  .header-logo-img:hover {
    transform: rotate(360deg) scale(1.3);
  }

  .header-links {
    width: 50%;
  }

  .header-links strong {
    margin: 0 5px;
  }

  .header-ul {
    justify-content: space-around;
  }

  .header-links-text {
    font-size: 15px;
  }

  .header-ul > li > i {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .header-ul > li > i:hover {
    transform: scale(1.5);
    transition-duration: 1s;
    color: #264653;
  }

  /* Start on filter section */

  .filter-section {
    width: 100%;
    margin: 60px 0;
    padding: 20px;
    height: 250px;
    background-color: #edf0f1;
    border-radius: 5px;
  }

  .filter-form-large-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 25px;
  }

  .small-form-filter {
    width: 20%;
    height: 35%;
    justify-content: space-around;
  }

  .filter-section-title {
    font-size: 30px;
    text-align: center;
    color: #aaa5a2;
    margin: 20px auto;
  }

  .filter-section label {
    color: #7b7b7e;
    font-size: 15px;
    font-weight: bold;
  }

  .filter-section input {
    height: 30px;
    outline: none;
    border: none;
    padding: 0 10px;
    width: 95%;
  }

  select {
    width: 95%;
    height: 30px;
    outline: none;
    border: none;
    color: #679ac2;
  }

  .btn-filter {
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin: 35px 5px;
  }

  .btn-filter-search {
    width: 8%;
    background-color: #457eb4;
  }

  .btn-filter-clear {
    width: 10%;
    background-color: #e5ab5a;
  }

  /* result cards */

  .search-results {
    height: 1200px;
  }

  .search-results {
    height: 970px;
  }

  .result-card {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease-out;
    transition-duration: 1.5s;
  }

  .result-card:hover {
    transform: scale(1.21);
    background-color: #f3b5a6;
    border-radius: 5px;
  }

  .clinic-link {
    color: #264653;
    background-color: #e9c46a;
    padding: 5px;
    display: none;
    text-align: center;
  }

  .result-card:hover > .clinic-link {
    display: block;
  }

  .result-card-img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .result-card-text {
    text-align: center;
    padding: 10px 20px;
    color: #264653;
  }

  /* Footer section */

  .first-footer {
    background-color: black;
    height: 300px;
  }

  .footer-main-links-large-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
  }

  /* main link part */

  .footer-main-links {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 30px 5px;
    padding: 20px 5px;
  }

  .ul-first-footer {
    width: 50%;
    justify-content: space-around;
  }

  .ul-first-footer > li {
    margin: 5px;
    font-size: 12px;
  }

  .footer-location-icon {
    position: relative;
    z-index: 1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    align-self: center;
    margin: 10px 0;
    background-color: black;
  }

  .fa-map-marker-alt {
    font-size: 50px;
    margin-top: 10px;
  }

  /* main info section */

  .footer-main-info-card {
    height: 100px;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  .footer-main-info-large {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
  }

  .footer-main-info-input {
    outline: none;
    width: 60%;
    height: 30px;
    padding: 5px;
    background-color: black;
    border: 1px solid #444;
    border-right: none;
  }

  .footer-main-info-title {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px auto;
  }

  .footer-main-info-button {
    width: 30%;
    height: 30px;
    background-color: #444;
    outline: none;
    border: none;
    margin-top: 5px;
    color: white;
  }

  .footer-main-info-text {
    margin: 5px auto;
    color: rgba(255, 255, 255, 0.705);
    font-size: 16px;
  }

  /* second footer */

  .second-footer {
    background-color: #333;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social-icons {
    width: 30%;
    margin: 10px;
    justify-content: space-between;
  }

  .footer-rights {
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 0 10px;
  }
}

/* For desktop screen */

@media screen and (min-width: 1025px) {
  /* Header */
  header {
    background-color: #e76f51;
    height: 70px;
  }

  /* Nav section */

  .nav-large-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav {
    justify-content: space-between;
    align-content: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }

  .header-logo {
    justify-content: center;
  }

  .header-logo-img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }

  .header-logo-img:hover {
    transform: rotate(360deg) scale(1.3);
  }

  .header-links {
    width: 50%;
  }

  .header-links strong {
    margin: 0 5px;
  }

  .header-ul {
    justify-content: space-around;
  }

  .header-links-text {
    font-size: 15px;
  }

  .header-ul > li > i {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .header-ul > li > i:hover {
    transform: scale(1.5);
    transition-duration: 1s;
    color: #264653;
  }

  /* Start on filter section */

  .filter-section {
    width: 100%;
    margin: 60px 0;
    padding: 20px;
    height: 250px;
    background-color: #edf0f1;
    border-radius: 5px;
  }

  .filter-form-large-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 25px;
  }

  .small-form-filter {
    width: 20%;
    height: 35%;
    justify-content: space-around;
  }

  .filter-section-title {
    font-size: 30px;
    text-align: center;
    color: #aaa5a2;
    margin: 20px auto;
  }

  .filter-section label {
    color: #7b7b7e;
    font-size: 18px;
    font-weight: bold;
  }

  .filter-section input {
    height: 30px;
    outline: none;
    border: none;
    padding: 0 10px;
    width: 95%;
  }

  select {
    width: 95%;
    height: 30px;
    outline: none;
    border: none;
    color: #679ac2;
  }

  .btn-filter {
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin: 38px 5px;
  }

  .btn-filter-search {
    width: 8%;
    background-color: #457eb4;
  }

  .btn-filter-clear {
    width: 10%;
    background-color: #e5ab5a;
  }

  /* result cards */

  .search-results {
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .result-card {
    margin-top: 20px;
    width: 30%;
    height: 318px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-timing-function: ease-out;
    transition-duration: 1.5s;
  }

  .result-card:hover {
    transform: scale(1.21);
    background-color: #f3b5a6;
    border-radius: 5px;
  }

  .clinic-link {
    color: #264653;
    background-color: #e9c46a;
    padding: 5px;
    display: none;
    text-align: center;
  }

  .result-card:hover > .clinic-link {
    display: block;
  }

  .result-card-img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .result-card-text {
    text-align: center;
    padding: 10px 20px;
    color: #264653;
  }

  /* Footer section */

  .first-footer {
    background-color: black;
    height: 300px;
  }

  .footer-main-links-large-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
  }

  /* main link part */

  .footer-main-links {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 20px 5px;
    padding: 20px 5px;
  }

  .ul-first-footer {
    width: 50%;
    justify-content: space-around;
  }

  .ul-first-footer > li {
    margin: 5px;
    font-size: 15px;
  }

  .footer-location-icon {
    position: relative;
    z-index: 1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    align-self: center;
    margin: 10px 0;
    background-color: black;
  }

  .fa-map-marker-alt {
    font-size: 50px;
    margin-top: 10px;
  }

  /* main info section */

  .footer-main-info-card {
    height: 100px;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  .footer-main-info-large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
  }

  .footer-main-info-input {
    outline: none;
    border: 1px solid #444;
    border-right: none;
    width: 60%;
    height: 40px;
    padding: 5px;
    background-color: black;
  }

  .footer-main-info-title {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px auto;
  }

  .footer-main-info-button {
    width: 30%;
    height: 40px;
    background-color: #444;
    outline: none;
    border: none;
    margin-top: 5px;
    color: white;
  }

  .footer-main-info-text {
    margin: 5px auto;
    color: rgba(255, 255, 255, 0.705);
    font-size: 16px;
  }

  /* second footer */

  .second-footer {
    background-color: #333;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social-icons {
    width: 30%;
    margin: 10px;
    justify-content: space-between;
  }

  .footer-rights {
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 0 10px;
  }
}
