@media screen and (max-width: 768px) {
  /* General */

  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

  * {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }

  .fas,
  .far,
  .fab {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  i,
  a,
  button:hover {
    cursor: pointer;
  }

  ul {
    list-style: none;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  /* Header */
  header {
    background-color: #e76f51;
    height: 200px;
  }

  /* Nav section */
  nav {
    justify-content: space-around;
    align-content: center;
    height: 100%;
    width: 75%;
    margin: 0 auto;
  }

  .header-logo {
    justify-content: center;
  }

  .header-logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .header-logo-img:hover {
    transform: rotate(360deg) scale(1.3);
    transition-timing-function: linear;
    transition-duration: 2s;
  }

  .header-ul {
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
  }

  .header-ul > li > i {
    font-size: 20px;
  }

  .header-ul > li > i:hover {
    transform: scale(1.5);

    transition-duration: 1s;
    color: #264653;
  }

  /* Start on filter section */

  .filter-section {
    margin: 20px 10px;
    padding: 20px;
    height: 200px;
    background-color: #e9c46a;
    border-radius: 5px;
  }

  .filter-section-title {
    font-size: 20px;
    text-align: center;
    color: #264653;
  }

  .filter-section label {
    color: #264653;
    font-size: 15px;
  }

  .filter-section input {
    margin: 5px 0;
    height: 30px;
    outline: none;
    border: none;
    padding: 0 5px;
  }
}
